.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

#wrapper {
  width: 960px;
  margin: 0 auto; }
  #wrapper #siteFrontHead {
    height: 180px;
    margin: 0 auto; }
    #wrapper #siteFrontHead .siteTitle {
      width: 803px;
      height: 49px;
      /*	background:url(../image/site_title.png) no-repeat;*/
      margin: 0 auto; }
    #wrapper #siteFrontHead ul.gNav {
      width: 732px;
      margin: 0 auto;
      padding: 0;
      list-style-type: none; }
      #wrapper #siteFrontHead ul.gNav li {
        float: left;
        /*width: 8em;*/
        margin-right: 50px;
        padding: 2px;
        /*border: 1px #ffb366 solid;
        background-color: #fffdee;*/
        text-align: center;
        overflow: hidden;
        border: 1px solid #000; }
  #wrapper #container {
    width: 960px;
    /*	height: 700px;*/
    margin: 0 auto;
    /* list */ }
    #wrapper #container .list {
      float: left;
      width: 160px;
      margin: 10px 10px 50px 10px;
      overflow: hidden;
      border: 1px solid #000; }
    #wrapper #container li.photo {
      font-size: 14px;
      list-style-type: none;
      width: 50px;
      margin-left: -15px;
      float: left;
      overflow: hidden;
      border: 1px solid #000; }
    #wrapper #container #siteFrontFooter {
      border: 1px solid #000;
      width: 960px; }

.clear {
  clear: both; }
